@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('../police/Sharikhand/Shrikhand-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../police/Roboto/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
body
{
	font-family: 'Roboto-Medium', sans-sérif;
	padding: 0;
	margin: 0;
    
}
body h1
{
    font-family: 'Shrikhand-Regular', sans-sérif;
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}

h2
{
    font-weight: bold;
    margin: 0;
}
h3
{
    font-size: 1.1em;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
p
{
    padding: 0;
    margin:0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
a
{
    text-decoration: none;
    color: black;
}

header
{
    box-shadow: 0 3px 4px rgb(140 140 140 / 30%);
    width: 90%;
    margin: auto;
}
header .fas
{
    font-size: 1.4em;
    position: absolute;
    top: 40px;
    right: 90%;
}


/***********H2 début************/
section
{
    width: 90%;
    margin: auto;
}

section img
{
   width: 100%;
   height: 700px;
   object-fit: cover;
   border-radius: 50px 50px 0 0;
   background-repeat: no-repeat;
   margin-top: 40px;
    
}

 #background_color_withButton
{
    background-color: #F4F4F4;
    text-align: center;
    position: relative;
    margin-top: -100px;
}

.first_title h2
{
    font-family: 'Shrikhand-Regular', sans-sérif;
    font-size: 2.3em;
    letter-spacing: 2px;
}


.first_title
{
    border-radius: 50px 50px 0 0;
    width: 42%;
    background-color: #F4F4F4;
    position: relative;
    bottom: 85px;
    
}
.first_title h2
{
    padding: 20px;

}
.iconEffet
{
    position: absolute;
    right: 28px;
    top: 30%;
}
.iconEffet .fas
{
    color: transparent;
    position: relative;
    left: 36px;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    opacity: 0;
}

.iconEffet:hover .fas
{
    opacity: 1;
    transition: .5s;
    cursor: pointer;
}
.iconEffet:hover .far
{
    opacity: 0;
    transition: .5s;
    cursor: pointer;
}




 /**************Section flex****************/
#Flex_global h2
{
   
    text-align: left;
    border-bottom: 4px solid #99e2d0;
    width: 17%;
    padding-bottom: 5px;
}


/*.Border_section:nth-of-type(1)
{
    animation-delay: calc(.35s + 1*.15s);
}
.Border_section:nth-of-type(2)
{
    animation-delay: calc(.35s + 2*.15s);
}
.Border_section:nth-of-type(3)
{
    animation-delay: calc(.35s + 3*.15s);
}
.Border_section:nth-of-type(4) {
    animation-delay: calc(.35s + 4*.15s);
}*/

.With_Border:nth-of-type(1)
{
    animation-delay: 300ms;
}
.With_Border:nth-of-type(2)
{
    animation-delay: 600ms;
}
.With_Border:nth-of-type(3)
{
    animation-delay: 900ms;
}
.With_Border
{
     animation: border-anime .9s ease-in-out forwards;
     opacity: 0;
}



.Border_section
{
    position: relative;
    overflow: hidden; /***IMPORTANT***/
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 20px;
    background: white;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    text-align: start;
    opacity: 0;
    animation: border-anime .9s ease-in-out forwards;
}
@keyframes border-anime
{
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


.Border_section p
{
    opacity: 0.6;
}



.boxAnimation
{
    display: block;
    overflow: hidden;
    padding: 15px 10px;
}



#Flex_global   /**IMPORTANT**/
{
    
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.With_Border
{
    width: 32%;
}


/*********Animation Box**************/
.box
{
    display: flex;
    flex-wrap: nowrap;
    margin-right: -18%;
    border-radius: 0 15px 15px 0;
    transition: 700ms;
    width: 35%;
}
.rotation-icon
{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
}


.Border_section span
{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.Border_section:hover .box
{
    margin-right: 0%;   
}

.rotation-icon .fas
{  
    color: #fff;
    border-radius: 0 15px 15px 0;
    transition: transform 800ms ease-in-out;
}

.Border_section:hover .fas
{
    transform: rotate(-360deg);
}



/************FOOTER*************/

#background-footer
 {
    background-color: #3B3B3B;

 }
 #background-footer h3
 {
    font-family: 'Shrikhand-Regular', sans-sérif;
    color: white;
    margin: 0;
    padding-top: 40px;
    text-align: center;
 }


 .Flex_element_footer
 {
    display: flex;
    padding: 30px;

 }
 #Footer_end
 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    
 }


footer .fas
{
    color: white;
    padding-right: 10px;
}
footer div a
{
    color: white;
}

button
{
    border: none;
    padding: 15px;
    border-radius: 25px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-top: 25px;
    cursor: pointer; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 50px;
    transition: 700ms;
    
}
button:hover
{
    opacity: 0.85;
    transform: scale(1.05); 
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
}







/***************Animation*****************/



















