@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('../police/Sharikhand/Shrikhand-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../police/Roboto/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
body
{
	font-family: 'Roboto-Medium', sans-sérif;
	padding: 0;
	margin: 0;
    
}
body h1
{
    font-family: 'Shrikhand-Regular', sans-sérif;
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}

h2
{
    font-weight: bold;
    margin: 0;
}
h3
{
    font-size: 1.1em;
    margin: 0;
}
p
{
    padding: 0;
    margin:0;
}
a
{
    text-decoration: none;
    color: black;
}

header
{
    box-shadow: 0 3px 4px rgb(140 140 140 / 30%);
    width: 90%;
    margin: auto;
}
header .fas
{
    font-size: 1.4em;
    position: absolute;
    top: 40px;
    right: 90%;
}


/***********H2 début************/
section
{
    width: 90%;
    margin: auto;
}

section img
{
   width: 100%;
   height: 800px;
   object-fit: cover;
   border-radius: 50px 50px 0 0;
   background-repeat: no-repeat;
   margin-top: 40px;
    
}

 #background_color_withButton
{
    background-color: #F4F4F4;
    text-align: center;
    position: relative;
    margin-top: -100px;
}

.first_title h2
{
    font-family: 'Shrikhand-Regular', sans-sérif;
    font-size: 2.3em;
    letter-spacing: 2px;
}


.first_title
{
    border-radius: 50px 50px 0 0;
    width: 42%;
    background-color: #F4F4F4;
    position: relative;
    bottom: 85px;
    
}
.first_title h2
{
    padding: 20px;
}

 /**************Section flex****************/
#Flex_global h2
{
   
    text-align: left;
    border-bottom: 4px solid #99e2d0;
    width: 17%;
    padding-bottom: 5px;
}



.Border_section
{
    border-radius: 15px;
    margin-top: 20px;
    padding: 15px 10px;
    background: white;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    text-align: start;
   
}

.Border_section p
{
    opacity: 0.8;
}

.Border_section span
{
    text-align: end;
}


#Flex_global   /**IMPORTANT**/
{
    
    display: flex;
    justify-content: space-around;
    padding: 20px;
    transition-delay: 0.7s;

}
.With_Border
{
    width: 32%;
}


/*.petit_div p::after
{
    content: '25€';
    float: right;

}*/
.With_Border p::after
{
    content: attr(data-count);
    float: right;
}

/*autre methode */

/*.petit_div
{
    display: flex;
    justify-content: space-between;
    
}*/




/************FOOTER*************/

#background-footer
 {
    background-color: #3B3B3B;

 }
 #background-footer h3
 {
    font-family: 'Shrikhand-Regular', sans-sérif;
    color: white;
    margin: 0;
    padding-top: 40px;
    text-align: center;
 }


 .Flex_element_footer
 {
    display: flex;
    padding: 30px;

 }
 #Footer_end
 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    
 }


footer .fas
{
    color: white;
    padding-right: 10px;
}
footer div a
{
    color: white;
}

button
{
    border: none;
    padding: 15px;
    border-radius: 25px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-top: 25px;
    cursor: pointer; 
    box-shadow: 0 2px 3px 3px #b1b1b14b; 
    margin-bottom: 50px;
    
}
























