@font-face {
    font-family: 'Shrikhand-Regular';
    src: url('Sharikhand/Shrikhand-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('Roboto/Roboto-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
body
{
	font-family: 'Roboto-Medium', sans-sérif;
	padding: 0;
	margin: 0;
}
body h1
{
    font-family: 'Shrikhand-Regular', sans-sérif;
    text-align: center;
    font-size: 2.3em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}

h2
{
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
}
h3
{
    font-size: 1.1em;
    margin: 0;
}
p
{
    padding: 0;
    margin:0;
}
a
{
    text-decoration: none;
    color: black;
}

header
{
    box-shadow: 0 3px 4px rgb(140 140 140 / 30%);
}


/***********H2 début************/
section img
{
   width: 80%;
   border-radius: 50px 50px 0 0;
   background-repeat: no-repeat;
    
}
.first_element h2
{
    font-family: 'Shrikhand-Regular', sans-sérif;
    font-size: 2.3em;
}
.image
{
    
    text-align: center;
    margin-top: 40px;
}

.first_element
{
    border-radius: 50px 50px 0 0;
    width: 42%;
    
    background-color: #F4F4F4;
    
}
.first_element h2
{
    padding: 20px;
}

 /**************Section flex****************/
#Flex_global h2
{
    font-weight: none;
    text-align: start;
    padding-bottom: 30px;
    opacity: 0.3;
}



.Border_section
{
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px 10px;
    background: white;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    text-align: start;
   
}

.Border_section p
{
    opacity: 0.8;
}

.Border_section span
{
    text-align: end;
}


#Flex_global   /**IMPORTANT**/
{
    
    display: flex;
    justify-content: space-around;
    padding: 20px;

}
#wrapper
{
    margin-left: 140px;
    margin-right: 140px;
    position: relative;
    top: -150px;  

}




/************FOOTER*************/

#background-footer
 {
    background-color: #3B3B3B;
    margin-top: 50px;
 }
 #background-footer h3
 {
    font-family: 'Shrikhand-Regular', sans-sérif;
    color: white;
    margin: 0;
    padding-top: 30px;
    text-align: center;
 }


 #Test_color
{
    background-color: #F4F4F4;
    text-align: center;
}


 .Flex_element_footer
 {
    display: flex;
    padding: 30px;

 }
 #Footer_end
 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    
 }


footer .fas
{
    color: white;
    padding-right: 10px;
}
footer div a
{
    color: white;
}

button
{
    border: none;
    padding: 15px;
    border-radius: 25px;
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    font-weight: bold;
    font-size: 1em;
    margin-top: 25px;
    cursor: pointer; 
    box-shadow: 0 2px 3px 3px #b1b1b14b; 
    margin-bottom: 50px;
    
}










